{% extends "base.html" %}
{% block content %}
<div>
  
  <nav> 
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '일반', true) }}
      {{ macros.m_tab_head2('action', '기타', false) }}
    {{ macros.m_tab_head_end() }} 
  </nav>  
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
     {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_global_scheduler_sub_button(arg['scheduler'], arg['is_running']) }}
      {{ macros.setting_input_text('interval_rss', '스케쥴링 실행 정보', value=arg['interval_rss'], col='3', desc=['Inverval(minute 단위)이나 Cron 설정']) }}
      {{ macros.setting_checkbox('auto_start_rss', '시작시 자동실행', value=arg['auto_start_rss'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
      {{ macros.setting_checkbox('request_http_start_link', 'http 링크 리모트 추가', value=arg['request_http_start_link'], desc=['On : 마그넷이 아닌 http로 시작하고 =.torrent 끝나지 않는 링크도 다운로드 요청합니다.', '링크가 토렌트 파일인 경우 =.torrent로 끝나도록 해야합니다.', '자막 파일을 같이 받을 경우 유용.']) }}
      {{ macros.setting_input_int('tracer_max_day', '추적 기간', value=arg['tracer_max_day'], desc=['days', '']) }}
      {{ macros.setting_checkbox('remove_history_on_web', '완료시 웹에서 목록 삭제', value=arg['remove_history_on_web'], desc=None) }}
      


      {{ macros.setting_button([['global_setting_save_btn', '설정 저장']]) }}
    {{ macros.m_tab_content_end() }}
      

    {{ macros.m_tab_content_start('action', false) }}
      {{ macros.setting_button([['global_one_execute_sub_btn', '1회 실행']], left='1회 실행' ) }}
      {{ macros.setting_button([['global_reset_db_sub_btn', '목록 전체 지우기']], left='DB정리' ) }}
      {{ macros.m_hr() }}
      {{ macros.info_text_go('rss_api', 'RSS API', value=arg['rss_api'], desc=['파라미터', ' - search : 검색 제목. 연산자 지원', ' - job : 작업 이름', '- count : 피드 수. 기본값 100', '- option : 생략가능. 값 : request_false, request, completed, expire, no_status', '', '연산자', '- AND 연산자 : 구분자 ,', '- OR연산자 : 구분자 |', '', '자세한 설정은 플러그인 설치 게시물 참고']) }}
    {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
  </form>
</div> <!--전체-->


<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub']}}";
var current_data;

$(document).ready(function(){
});




</script>    
{% endblock %}